<!DOCTYPE html>
<html>
  <head>
    <title>My Amazon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
  </head>
  <body>
   <header class="header">
     <div class="logo">
       <img src="" alt="" class="logo__img">
      </div>
   </header>
   <div class="content-wrap">
      <div class="sidebar">
        <a href="/acp/addCategory" class="sidebar__link">Добавить категорию</a>
        <a href="/acp/addGroup" class="sidebar__link">Добавить группу товаров</a>
        <a href="/acp/addProduct" class="sidebar__link">Добавить продукт</a>
        <a href="/" class="sidebar__link">Вернуться в магазин</a>
      </div>
      <div class="content"></div>
   </div>
    <script src="/javascripts/acp/acp.js"></script> 
  </body>
</html>
