<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>

</head>
<body>
    <form action="" class="formNewCategory">
        <input type="text" class="input" name="name">
        <button class="btn">Submit</button>
    </form>
    <div class="blockCategorys"></div>
    <script src="/javascripts/acp/acpNewCategory.js"></script> 

</body>
</html>